 body {
  background-color: lightyellow;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>
<h1>Sign Up</h1>

<!DOCTYPE html>
<html>
<head>
<style>
p.one {
  border-style: solid;
  border-color: blue;
}

p.two {
  border-style: solid;
  border-color: blue;
} 

p.three {
  border-style: solid;
  border-color: blue;
} 
</style>
</head>
<body>

<p class="one">Name:</p>
<p class="two">Email:</p>
<p class="three">Address:</p>
